// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.
$brand-primary:             #1ABC9C !default;
$enable-rounded:            false !default;
$enable-gradients:          true !default;
